.jog-header {
	background: #98dfff;
	width: 100vw;
	height: 8rem;
}

#jog-header-logo {
	width: 5rem;
	z-index: 1;
}

.jog-header div {
	height: 100%;
}

.jog-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.jog-text-center-bottom {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	z-index: 1
}

.jog-test-center {
	margin: 0 auto;
}

#jog-header-shape {
	position: absolute;
	width: 100vw;
}